api.objective.camera {
	tls bps@dzen.ws
	encode zstd gzip

	handle /verify/* {
		reverse_proxy localhost:8002
	}

	handle_path /policy {
		root * /root/objective_backend/policy
		file_server
	}

	handle {
		reverse_proxy localhost:8000
	}
}

ipfs.objective.camera {
	tls bps@dzen.ws
	encode zstd gzip

	handle /thumbnails/* {
		header Cache-Control "public, max-age=604800, must-revalidate"
		reverse_proxy localhost:8001
	}

	handle /api/* {
		method POST
		basicauth {
			App $2b$12$6glpxEGTBysQo10u9l/i0OwO5ykA7gPMO4ohFCqTikz66H.fw..we
		}
		reverse_proxy localhost:5001
	}

	handle {
		uri replace / /ipfs/
		reverse_proxy localhost:8080
	}
}
